#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../src/assets.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

/*
  CRAB MONSTER
*/
Prefab(
    entities: [
        PrefabEntity(
            data: MyPrefabData(
                sprite_scene: (
                    sheet: Sheet(
                        texture: File("Enemies1.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
				    normalized: true,
                                ),
                            ),
                        )),
                        sprites: [
                            Grid((
                                texture_width: 256,
                                texture_height: 256,
                                columns: 8,
                                rows: 8,
                                cell_size: (32, 32),
                            )),
                        ],
                        name: "enemy1",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "enemy1",
                        sprite_number: 0,
                    ),
		    transform: (
		        translation: (0.0, 0.0, 0.0),
		    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            Idle(East),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [0, 0],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
			),
			(
                            Idle(North),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [3, 3],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
			),
			(
                            Idle(West),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [13, 13],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
			),
			(
                            Idle(South),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [10, 10],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			(
                            Walk(East),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.25, 0.5, 0.75, 1.0],
                                            output: [0, 1, 0, 2, 0],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			(
                            Walk(North),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.25, 0.5, 0.75, 1.0],
                                            output: [3, 4, 3, 5, 3],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			(
                            Walk(South),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.25, 0.5, 0.75, 1.0],
                                            output: [10, 8, 10, 9, 10],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			(
                            Walk(West),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.25, 0.5, 0.75, 1.0],
                                            output: [13, 11, 13, 12, 13],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			(
                            Attack(East),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.125, 0.375, 0.75],
                                            output: [0, 16, 17, 0],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			(
                            Attack(North),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.125, 0.375, 0.75],
                                            output: [3, 18, 19, 3],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			(
                            Attack(West),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.125, 0.375, 0.75],
                                            output: [10, 20, 21, 10],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			(
                            Attack(South),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.125, 0.375, 0.75],
                                            output: [13, 22, 23, 13],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            Staggered(East),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [6, 6],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
			),
			(
                            Staggered(North),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [7, 7],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
			),
			(
                            Staggered(West),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [14, 14],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
			),
			(
                            Staggered(South),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [15, 15],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)