#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../src/assets.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab(
    entities: [
        // Grey bat
        PrefabEntity(
            data: MyPrefabData(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("Sprites.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
				    normalized: true,
                                ),
                            ),
                        )),
                        sprites: [
                            // Grey bat sprites
                            // Sprites with indexes from 0 to 5
                            Grid((
                                texture_width: 256,
                                texture_height: 256,
                                columns: 8,
                                rows: 8,
                                cell_size: (32, 32),
                                // Shifts the grid by 32 pixels down and the bat changes to brown
                                // position: (0, 32),
                            )),
                        ],
                        // optional
                        name: "player",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "player",
                        sprite_number: 0,
                    ),
		    transform: (
		        translation: (0.0, 0.0, 0.0),
		    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Idle(East),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [8, 8],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Idle(North),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [11, 11],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Idle(West),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [16, 16],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Idle(South),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [19, 19],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			
                        (
                            // AnimationId
                            Walk(East),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.25, 0.5, 0.75, 1.0],
                                            output: [8, 9, 8, 10, 8],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Walk(North),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.25, 0.5, 0.75, 1.0],
                                            output: [11, 12, 11, 13, 11],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Walk(West),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.25, 0.5, 0.75, 1.0],
                                            output: [16, 17, 16, 18, 16],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Walk(South),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.25, 0.5, 0.75, 1.0],
                                            output: [19, 20, 19, 21, 19],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
			
                        (
                            // AnimationId
                            Attack(East),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.125, 0.25, 0.5],
                                            output: [8, 24, 25, 8],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Attack(North),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.125, 0.25, 0.5],
                                            output: [11, 26, 27, 11],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Attack(West),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.125, 0.25, 0.5],
                                            output: [16, 28, 29, 16],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Attack(South),
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.125, 0.25, 0.5],
                                            output: [19, 30, 31, 19],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)